<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019100170545-n66gpu8oiso1dt66bnvrd5r9s7afg230.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019100170545-n66gpu8oiso1dt66bnvrd5r9s7afg230</string>
	<key>API_KEY</key>
	<string>AIzaSyBq2jyswKYO3iQvK7DnhRUFfm80OFdLIYg</string>
	<key>GCM_SENDER_ID</key>
	<string>1019100170545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appEnglish</string>
	<key>PROJECT_ID</key>
	<string>test-app-1-1ba37</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-1-1ba37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019100170545:ios:0e3e7699422763c78ac810</string>
</dict>
</plist>