<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756529959319-smvi822d47t70glg2hvrhlmq6gu7t9ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756529959319-smvi822d47t70glg2hvrhlmq6gu7t9ij</string>
	<key>API_KEY</key>
	<string>AIzaSyDtawft9WLpiQ5T5CbaknH-oY7Gp4fMcG4</string>
	<key>GCM_SENDER_ID</key>
	<string>756529959319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>economy-510e6</string>
	<key>STORAGE_BUCKET</key>
	<string>economy-510e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756529959319:ios:60409ec9824c9bd4c3b4d2</string>
</dict>
</plist>